node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist
build
*.tsbuildinfo

.env
.env.*
!.env.example

drizzle/meta
drizzle/*.sql

.dockerignore
docker-compose.override.yml

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea
*.swp
*.swo

logs
*.log

coverage
.nyc_output

*.pid
*.seed
